* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

li {
    list-style: none;
    font-size: 16px;
}

@media screen and (min-width: 300px) {
    .navbar {
        background-color: #ffffff;
        color: #001f2b;
        font-family: 'Crimson Text', serif;
        font-size: 18px;
        position: fixed;
        overflow: hidden;
        width: 100%;
        border-bottom: 1px solid black;
    }

    .navbar a {
        color: #001f2b;
        text-decoration: none;
        font-size: 16px;
        display: inline-block;
        padding: 10px 12px;
        text-align: center;
    }

    .navbar a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar a:hover {
        background-color: #001f2b;
        color: #ffffff;
    }

    .navbar #myLinks {
        display: none;
    }
    
    header {
        /*background-color: #00b8ff;*/
        background: url(images/futurebackground.jpg);
        background-size: cover;
        min-height: 400px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding: 10% 0;
    }
    
    h1 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;     
        
    }

    h2 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
        text-decoration-line: underline;
    }

    h3 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
    }
    
    p {
        font-family: 'Crimson Text', serif;
        font-size: 18px;
        color: #ffffff;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
        
    }

    .images {
        height: 200px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    
    #bio {
        background-color: #00415a;
        font-family: 'Crimson Text', serif;
        color: #ffffff;
        display: flex;
        justify-content: space-around;
        flex-direction: column;   
    }
    
    #projects {       
        background: url(images/futurebackground.jpg);
        background-size: cover;
        min-height: 400px;
        font-family: 'Crimson Text', serif;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .card{
        border: 1px solid #ffffff;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }

    .btn {
        display: inline-block;
        text-align: center;
        justify-content: space-around;
        width: 33%;     
        cursor: pointer;
    }
    
    .btn-link {
        font-size: 16px;
        text-align: center;
        color: #ffffff;
        background-color: magenta;
        border: 1px solid #ffffff;
        padding: 10px;
        border-radius: 2%;
    }

    .btn-live {
        font-size: 16px;
        text-align: center;
        color: #ffffff;
        background-color: black;
        border: 1px solid #ffffff;
        padding: 10px;
        border-radius: 2%;
    }


    #skills {        
        background-color: #00415a;
        font-family: 'Crimson Text', serif;
        font-size: 16px;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    #contact {
        padding: 10px 10px;
        background-color: #001f2b;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
        
    }

    .cont {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        width: 30%;
        
    }
    
    .email {
        font-size: 16px;
        text-align: center;
        color: #ffffff;
        background-color: magenta;
        border: 1px solid #ffffff;
        padding: 10px;
        margin-left: auto;
        border-radius: 2%;
        display: inline-block;
    }

    .gitHub {
        font-size: 16px;
        text-align: center;
        color: #ffffff;
        background-color: black;
        border: 1px solid #ffffff;
        padding: 10px;
        border-radius: 2%;
        display:inline-block;
    }

    .linkedin {font-size: 16px;
        text-align: center;
        color: #ffffff;
        background-color: blue;
        border: 1px solid #ffffff;
        padding: 10px;
        border-radius: 2%;
        display: inline-block;
    }
}



@media screen and (min-width: 700px) {
    .navbar {
        background-color: #ffffff;
        color: #001f2b;
        font-family: 'Crimson Text', serif;
        position: fixed;
        overflow: hidden;
        width: 100%;
        border-bottom: 1px solid black;
    }

    .navbar a {
        color: #001f2b;
        text-decoration: none;
        font-size: 16px;
        display: inline-block;
        padding: 10px 12px;
        text-align: center;
    }
        

    .navbar a.icon {
        display: none;
    }

    .navbar a:hover {
        background-color: #001f2b;
        color: #ffffff;
    }

    .navbar #myLinks {
        display: inline-block;
        float: right;
    }
    
    header {
        background: url(images/futurebackground.jpg);
        background-size: cover;
        min-height: 1000px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding: 10% 0;
    }
    
    h1 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
        
    }

    h2 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
    }

    h3 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
    }
    
    p {
        font-family: 'Crimson Text', serif;
        color: #ffffff;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .images {
        height: 200px;
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
    
    
    #bio {
        min-height: 100px;
        padding: 10% 0;
        background-color: #009bd6;
        font-family: 'Crimson Text', serif;
        color: #ffffff;
    }
    
    #projects {
        min-height: 100px;
        padding: 10% 0;
        background-color: #00719c;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
    }
    
    #skills {
        
        padding: 10% 0;
        background-color: #00415a;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
    }
    
    #contact {
        min-height: 20px;
        padding: 10px 10px;
        background-color: #001f2b;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
    }

    .cont {
        width: 10%;
        
    }
}



@media screen and (min-width: 1000px) {
    .navbar {
        background-color: #ffffff;
        color: #001f2b;
        font-family: 'Crimson Text', serif;
        position: fixed;
        overflow: hidden;
        width: 100%;
        border-bottom: 1px solid black;
    }

    .navbar a {
        color: #001f2b;
        text-decoration: none;
        font-size: 16px;
        display: inline-block;
        padding: 10px 12px;
        text-align: center;
    }
        

    .navbar a.icon {
        display: none;
    }

    .navbar a:hover {
        background-color: #001f2b;
        color: #ffffff;
    }

    .navbar #myLinks {
        display: inline-block;
        float: right;
    }
    
    header {
        background: url(images/futurebackground.jpg);
        background-size: cover;
        min-height: 1200px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding: 10% 0;
    }
    
    h1 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
        
    }

    h2 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
    }

    h3 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
    }
    
    p {
        font-family: 'Crimson Text', serif;
        color: #ffffff;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }

    .images {
        height: 400px;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
    
    
    #bio {
        min-height: 100px;
        padding: 5% 0;
        background-color: #009bd6;
        font-family: 'Crimson Text', serif;
        color: #ffffff;
    }
    
    #projects {
        min-height: 100px;
        padding: 5% 0;
        background-color: #00719c;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
    }

    #projects .li {
        text-align: left;

    }
    
    #skills {
        padding: 5% 0;
        background-color: #00415a;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
    }
    
    #contact {
        min-height: 20px;
        padding: 5% 0;
        background-color: #001f2b;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
        list-style: none;
    }
}  
