* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    line-height: 1;
}



@media screen and (min-width: 300px) {
    .navbar {
        background-color: #ffffff;
        color: #001f2b;
        font-family: 'Crimson Text', serif;
        position: fixed;
        overflow: hidden;
        width: 100%;
        border-bottom: 1px solid black;
    }

    .navbar a {
        color: #001f2b;
        text-decoration: none;
        font-size: 16px;
        display: inline-block;
        padding: 10px 12px;
        text-align: center;
    }
        

    .navbar a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar a:hover {
        background-color: #001f2b;
        color: #ffffff;
    }

    .navbar #myLinks {
        display: none;
    }
    
    header {
        background-color: #00b8ff;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 10% 0;
        
    }
    
    h1 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
        
        
    }

    h2 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
        
    }

    h3 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
    }
    
    p {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .images {
        height: 200px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;

    }
    
    
    #bio {
        
        background-color: #009bd6;
        font-family: 'Crimson Text', serif;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    
    #projects {
        
        
        background-color: #00719c;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    
    #skills {
        
        
        background-color: #00415a;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
    }
    
    #contact {
        min-height: 20px;
        padding: 10px 10px;
        background-color: #001f2b;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
    }
}



@media screen and (min-width: 700px) {
    .navbar {
        background-color: #ffffff;
        color: #001f2b;
        font-family: 'Crimson Text', serif;
        position: fixed;
        overflow: hidden;
        width: 100%;
        border-bottom: 1px solid black;
    }

    .navbar a {
        color: #001f2b;
        text-decoration: none;
        font-size: 16px;
        display: inline-block;
        padding: 10px 12px;
        text-align: center;
    }
        

    .navbar a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar a:hover {
        background-color: #001f2b;
        color: #ffffff;
    }

    .navbar #myLinks {
        display: none;
    }
    
    header {
        padding: 10% 0;
        background-color: #00b8ff;
        text-align: center;
        
    }
    
    h1 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
        
    }

    h2 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
    }

    h3 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
    }
    
    p {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .images {
        height: 200px;
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
    
    
    #bio {
        min-height: 100px;
        padding: 10% 0;
        background-color: #009bd6;
        font-family: 'Crimson Text', serif;
        color: #ffffff;
    }
    
    #projects {
        min-height: 100px;
        padding: 10% 0;
        background-color: #00719c;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
    }
    
    #skills {
        min-height: 100px;
        padding: 10% 0;
        background-color: #00415a;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
    }
    
    #contact {
        min-height: 20px;
        padding: 10px 10px;
        background-color: #001f2b;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
        list-style: none;
    }
}



@media screen and (min-width: 1000px) {
    .navbar {
        background-color: #ffffff;
        color: #001f2b;
        font-family: 'Crimson Text', serif;
        position: fixed;
        overflow: hidden;
        width: 100%;
        border-bottom: 1px solid black;
    }

    .navbar a {
        color: #001f2b;
        text-decoration: none;
        font-size: 16px;
        display: inline-block;
        padding: 10px 12px;
        text-align: center;
    }
        

    .navbar a.icon {
        display: none;
    }

    .navbar a:hover {
        background-color: #001f2b;
        color: #ffffff;
    }

    .navbar #myLinks {
        display: inline-block;
        float: right;
    }
    
    header {
        padding: 5% 0;
        background-color: #00b8ff;
        
    }
    
    h1 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
        
    }

    h2 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
    }

    h3 {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        text-align: center;
    }
    
    p {
        font-family: 'Julius Sans One', sans-serif;
        color: #ffffff;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }

    .images {
        height: 400px;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
    
    
    #bio {
        min-height: 100px;
        padding: 5% 0;
        background-color: #009bd6;
        font-family: 'Crimson Text', serif;
        color: #ffffff;
    }
    
    #projects {
        min-height: 100px;
        padding: 5% 0;
        background-color: #00719c;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
    }

    #projects .li {
        text-align: left;

    }
    
    #skills {
        min-height: 100px;
        padding: 5% 0;
        background-color: #00415a;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
    }
    
    #contact {
        min-height: 20px;
        padding: 5% 0;
        background-color: #001f2b;
        font-family: 'Crimson Text', serif;
        font-size: 14px;
        color: #ffffff;
        list-style: none;
    }
}  
